.abmain {
  padding: 2rem 1.5rem;
  width: 100%;
  flex: 1;
  background-color: $color-secondary;
  border: 3px solid $color-white;
  backdrop-filter: blur(4.5px);
  border-radius: 32px;
  overflow: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0;
  }
}
