$color-primary: #EAFFD0;
$color-secondary: #95E1D3;
$color-third: #FCE38A;
$color-fourth: #F38181;
$color-font-1: #222831;
$color-font-2: #393E46;
$color-font-3: #00ADB5;
$color-font-4: #EEEEEE;
$color-black: black;
$color-white: white;